{% extends "startup/base.html" %}

{% block title %}About{% endblock title %}

{% block content %}
    <body style="background-image: linear-gradient(to right, rgb(52,59,63), rgb(52,59,63));">

    </body>
    <div class="about-landing">
        <div class="about-wrap">
            <div class="about-inner">
            </div>
        </div>
    </div>


    <div class="about_div">
        <div class="caption text-center">
            <h1 style="margin-top: 1rem">Not Reddit?</h1>
        </div>
    </div>

    <div class="about-meaning">
        <div class="col-10 narrow text-center">
            <p class="lead" style="font-size: 1.5rem">
                The project Not Reddit was developed for people, who want just to public their thoughts and articles.
                It's a platform, where your opinion can be see by many people and you'll probably have some feedback.
                Write more and interesting articles and you will have a huge progress!
            </p>
        </div>
    </div>

    <div class="about-jumbo">
        <div class="jumbotron">
            <div class="narrow text-center">
                <div class="col-12">
                    <h3 class="heading">Follow this 3 steps for a nice start:</h3>
                    <div class="row text-center">
                        <div class="col-md-4">
                            <div class="about-steps">
                                <img src=../../../static/images/one.svg height="64">
                            </div>
                            <h3 style="margin: 1.5rem 0 1.5rem">Create your article</h3>
                            <div class="about-steps">
                                <img src=../../../static/images/scr1.png width="430" height="220">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="about-steps">
                                <img src=../../../static/images/two.svg height="64">
                            </div>
                            <h3 style="margin: 1.5rem 0 1.5rem">Save it</h3>
                            <img src=../../../static/images/scr2.png width="400" height="220">
                        </div>

                        <div class="col-md-4">
                            <div class="about-steps">
                                <img src=../../../static/images/three.svg height="64">
                            </div>
                            <h3 style="margin: 1.5rem 0 1.5rem">See it in the articles list</h3>
                            <img src=../../../static/images/scr3.png width="400" height="220">
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="start_here">
            <div class="col-12 narrow text-center">
                <p class="lead">
                    Support this project
                </p>
                <a class="btn btn-danger btn-lg" href="{% url 'coming_soon_support' %}">Support</a>
            </div>
        </div>
    </div>
{% endblock content %}