{% extends "startup/base.html" %}

{% block title %}Article deleting{% endblock title %}

{% block content %}

    <div class="container">
        <div class="card my-3 border-secondary">
            <div class="card-body">
                <form method="POST" action=".">
                    {% csrf_token %}
                    <h2>Do you want to delete article "{{ object.title }}"?</h2>
                    <input class="btn btn-outline-danger btn-lg" type="submit" value="Yes">
                </form>
            </div>
        </div>
    </div>

{% endblock content %}