{% extends "startup/base.html" %}

{% block title %}Category{% endblock title %}

{% block content %}
    {% if user.is_authenticated %}
        {% if list_of_category_articles is 0 %}
            <div class="text-center" style="color: white;">
                <h1 style="color: white; margin: 2rem 0 2rem">No article with this category
                    exists.</h1>
                <a class="btn btn-primary btn-lg" href="{% url 'article_create' %}">Create your own</a>
            </div>
        {% else %}
            <div class="container text-center">
                {% if category_id is 1 %}
                    <h3 style="margin: 2rem 0 2rem; color: white">Articles category: <strong
                            style="color: #f44336">Programming</strong>
                    </h3>
                {% else %}
                    {% if category_id is 2 %}
                        <h3 style="margin: 2rem 0 2rem; color: white">Articles category: <strong
                                style="color: #f48f36">Technologies</strong>
                        </h3>
                    {% else %}
                        {% if category_id is 3 %}
                            <h3 style="margin: 2rem 0 2rem; color: white">Articles category: <strong
                                    style="color: #f4cb36">Music</strong>
                            </h3>
                        {% else %}
                            {% if category_id is 4 %}
                                <h3 style="margin: 2rem 0 2rem; color: white">Articles category: <strong
                                        style="color: #49ad35">Art</strong>
                                </h3>
                            {% else %}
                                {% if category_id is 5 %}
                                    <h3 style="margin: 2rem 0 2rem; color: white">Articles category: <strong
                                            style="color: #23dce2">People</strong>
                                    </h3>
                                {% else %}
                                    {% if category_id is 6 %}
                                        <h3 style="margin: 2rem 0 2rem; color: white">Articles category: <strong
                                                style="color: #234ce2">Science</strong>
                                        </h3>

                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endif %}
                <div class="card-columns">
                    {% for category_article in category %}
                        <div class="card my-3 user_media_card" style="color: white">
                            <div class="card-body my-2">
                                {% if category_id is 1 %}
                                    <h1><i class="fas fa-laptop-code"></i></h1>
                                {% else %}
                                    {% if category_id is 2 %}
                                        <h1><i class="fas fas fa-server"></i></h1>
                                    {% else %}
                                        {% if category_id is 3 %}
                                            <h1><i class="fas fa-music"></i></h1>
                                        {% else %}
                                            {% if category_id is 4 %}
                                                <h1><i class="fas fa-paint-brush"></i></h1>
                                            {% else %}
                                                {% if category_id is 5 %}
                                                    <h1><i class="fas fa-user-friends"></i></h1>
                                                {% else %}
                                                    {% if category_id is 6 %}
                                                        <h1><i class="fas fa-atom"></i></h1>
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                                <h5 class="card-title"><a href="{{ category_article.get_absolute_url }}"
                                                          style="color: #1078ff">{{ category_article.title }}</a>
                                </h5>
                                <p class="card-text">{{ category_article.date }}
                                    | <strong>Author: {{ category_article.author }}
                                    </strong></p>
                            </div>
                        </div>

                    {% endfor %}
                </div>
            </div>
        {% endif %}
    {% else %}
        <div class="login_or_register">
            <div class="container">
                <div class="card-body my-1">
                    <h3 class="card-title">You aren't Login into your account.</h3>
                    <p class="card-text">Please: <a href={% url 'login' %}>Login</a> or <a
                            href={% url 'register_page' %}>Register</a>
                    </p>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock content %}
