{% extends "startup/base.html" %}

{% block title %}Contacts{% endblock title %}

{% block content %}

    <div class="contacts-page" style="background-color: white">

        <div class="about_div" style="margin: -2rem 0 3rem">
            <div class="col-10 narrow text-left">
                <h1 style="margin: 3rem 0 2rem; font-size: 4rem">Our contacts:</h1>
                <div style="font-size: 1.5rem">
                    <i class="fas fa-envelope"></i> Email: notreddit.live@gmail.com
                </div>
                <div style="font-size: 1.5rem">
                    <i class="fab fa-facebook-square"></i> <a href="https://www.facebook.com/natan.munteanu.180">Facebook</a>
                </div>
                <div style="font-size: 1.5rem">
                    <i class="fab fa-twitter-square"></i> <a href="https://twitter.com/grrame22">Twitter</a>
                </div>
                <div style="font-size: 1.5rem">
                    <i class="fab fa-instagram"></i> <a href="https://www.instagram.com/grrame22/">Instagram</a>
                </div>
            </div>

        </div>

        <hr style="border-top: .1rem solid black; margin-bottom: 0rem">

        <div class="about-meaning" style="background-color: #e9ecef;margin-bottom: -1rem">
            <div class="col-10 narrow text-left">
                <p class="lead" style="font-size: 1.5rem; color: black">
                    If you just find something wrong or a bug, send an informative message
                    to us and we'll repair/change it. <strong>Your</strong> help is so
                    expensive to us and everyone, who helps this project, gives a little
                    part for creating BEST and useful project!
                </p>
            </div>
            <div class="col-10 narrow text-center">
                <p style="font-size: 1.6rem; color: black">Now <strong style="color: #1078ff">Your</strong> turn to make
                    it better!
                </p>
            </div>
        </div>

        <div class="contact_section">
            <footer>
                <div class="row justify-content-center">
                    <div class="col-md-5 text-center">
                        <img src=../../../static/images/favicon.png width="80">
                    </div>
                </div>
                <div class="text-center">
                    <p>&copy; Not Reddit, Inc.</p>
                </div>
            </footer>
        </div>
    </div>

{% endblock content %}