{% extends "startup/base.html" %}

{% load crispy_forms_tags %}

{% block title %}Register{% endblock title %}

{% block content %}

    <div class="register_back">
        <div class="container">
            <div class="d-flex justify-content-center form_container">
                <div class="user_register_card">
                    <div class="register_card">
                        <div class="user_icon">
                            <i class="fas fa-user-circle"></i>
                        </div>
                        <h3 class="card-title text-center">Register</h3>
                        <div class="d-flex justify-content-center">
                            <form method="POST" class="form-group">
                                {% csrf_token %}
                                {{ form|crispy }}
                                <div class="wrapper">
                                    <button type="submit" class="btn btn-outline-success btn-lg">Register</button>
                                </div>
                                <div class="or">
                                    <strong>or</strong>
                                </div>
                                <div class="login_register">
                                    <a href="{% url "login" %}">Login</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}